@import "tailwindcss";
/* Estilo para quando o Chrome autocompletar */
input:-webkit-autofill {
    background-color: #2D333B !important;
    -webkit-text-fill-color: white !important;
    box-shadow: 0 0 0px 1000px #2D333B inset !important;
  }
  